body{
margin:0;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

h1{
  margin: 50px auto 0 auto;
  font-size: 90px;
  font-family: 'Indie Flower', cursive;
  color: #ba7967;
}

h2{
color: #ba7967;
font-weight: normal;
}
h3{
  color: #5e6f64;
}

a{
  color: #5e6f64;
}


.top-container{
  background-color: #ffdecf;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  background-color: #fff6f2;
  padding-top: 50px;
}

.bottom-container{
  background-color: #3f4441;
}

.web-word{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}



.skill-row{
  width: 50%;
  margin: 150px auto;
  text-align: left;
}

.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.qa-img{
  width: 25%;
  float: right;
  margin-right: 30px;
}

hr{
  border-style: dotted none none none;
  border-width: 10px;
  width: 5%;
  color: grey;
  margin: 100px auto;
}

p{
  color: #40514E;
}
.copyright{
  color: #ffdecf;
padding-bottom: 50px;
margin: auto;
}

.footer-link{
  color: #ffdecf;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 50px 50px;
  display: inline-block;
}
.btn {
   background: #D39D8E;
   background-image: -webkit-linear-gradient(top, #D39D8E, #BA7967);
   background-image: -moz-linear-gradient(top, #D39D8E, #BA7967);
   background-image: -ms-linear-gradient(top, #D39D8E, #BA7967);
   background-image: -o-linear-gradient(top, #D39D8E, #BA7967);
   background-image: linear-gradient(to bottom, #D39D8E, #BA7967);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 8px;
   line-height: 8px;
   color: #FFFFFF;
   font-family: Verdana;
   width: 98px;
   font-size: 10px;
   font-weight: 600;
   padding: 15px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 20px auto 50px auto;
}

.btn:hover {
   border: solid #FFFFFF 1px;
   background: #FFFFFF;
   background-image: -webkit-linear-gradient(top, #FFFFFF, #B4B8BD);
   background-image: -moz-linear-gradient(top, #FFFFFF, #B4B8BD);
   background-image: -ms-linear-gradient(top, #FFFFFF, #B4B8BD);
   background-image: -o-linear-gradient(top, #FFFFFF, #B4B8BD);
   background-image: linear-gradient(to bottom, #FFFFFF, #B4B8BD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
   margin: 20px auto 50px auto;

}
